.topbar {
  margin-left: 250px;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.topbar-left h2 {
  font-size: 24px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.top-icon {
  font-size: 22px;
  cursor: pointer;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.profile-icon {
  font-size: 30px;
}
